.col-md-4{color: blue;}
.pa{width: 50px; height: 160px; margin: 10px 20px auto;}
.logo{height: 30px; width: 10%; object-fit: "cover"; border-radius: 10px;}              
.container-2{ background-color: black; border-top-color: aquamarine; font-family:"Impact, Haettenschweiler", 'Arial Narrow Bold', "sans-serif";font-size:"larger";}                       
.col-md-4{ margin: 10px; padding: 10px; border-radius: 5px; background-color:#86a7cd;}                              
                                    
                                        
                                        
                             
    
    
        
        
        
    

    
